config/cipher
config/agentkeystore
config/cruise-config.xsd
config/go_update_server.pub
config/jetty.xml
config/keystore
config/logback-include.xml
config/truststore

data/db/h2db/cruise.trace.db
data/db/h2db/cruise.lock.db
data/db/

data/logs/

data/plugins/bundled/
data/plugins/go-plugins-all.zip

data/artifacts/